.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
clickhouse
*.pem
**/*.pem
keys
**/keys
mobile-id-keys
**/mobile-id-keys
.local-secrets
**/.local-secrets
.local_secrets
**/.local_secrets
